@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 20;
    padding:10;
    box-sizing: border-box;
}

:root{
    --font: "Roboto", sans-serif;
}

body{
    font-family: var(--font);
    /* background-color: #f2f2f7; */
    background-color: #f2f2f2;
}

h1{
    text-align: center;
    color: #6666667c;
}

main{
    width: 50%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 30px;
}

section{
    background-color: #cccccc;
    padding: 25px;
    margin: 30px 0;
    border-radius:10px;
    box-shadow: 10px 10px 15px #00000098;
}

form{
    display: flex;
    height: 350px;
    margin: 30px 0;
    flex-direction: column;
    justify-content: space-between;
    
}

.control-form{
    height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input{
    height: 30px;
    border: solid 1px #6d6d6d;
    border-radius: 6px;
    font-weight: medium;
    background-color: #F2F2F2;
    caret-color: rgb(255, 163, 127);
    text-indent: 5px;
}

input::placeholder{
    color: #3c433e;
}

input[type="number"]{
    appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
    display: none;
    margin: 0;
}
   